
@{
    ViewBag.Title = "營區房型";
}

<main>
    
        <img src="~/Images/photo1.jpg" class="img-fluid" alt="">
    


    <div class="separator1"></div>

    <div class="container">
        <div class="row">
            <div class="col-12 d-flex justify-content-between align-items-center">

                <div class="text">
                    <div class="d-flex flex-column align-items-start">
                        <p class="text-muted1" style="font-size: 38px; color: rgba(74, 113, 184, 0.8); margin-bottom: 0; margin-left: -10px;">森林區</p>
                        <p class="text-below" style="font-size: 26px; color: rgba(74, 113, 184, 0.8); margin-top: -10px;">-foant-</p>
                    </div>
                </div>

                <div class="additional-text">
                    <p class="text-muted2" style="font-size: 26px; color: rgba(74, 113, 184, 0.8)">享受自然的清新</p>
                </div>

            </div>
        </div>
    </div>
    <div class="separator2"></div>




    <div>
        <div class="m-3">

            <div class="container">

                <div class="row">
                    <h1 class="fw-bolder" style="margin-bottom: 20px;">
                        營位介紹
                        <small class="fw-normal fst-italic"></small>
                    </h1>
                </div>
            </div>


            <div class="container-fluid" style="width: 88%; margin-right: -2%; margin-bottom: 80px; ">
                <div class="row">

                    <div class="col-md-6">
                        <!--輪播 begin-->
                        <!--輪播 begin-->
                        <div id="carouselExampleCaptions1" class="carousel slide" data-bs-ride="carousel">
                            <div class="carousel-indicators">
                                <button type="button" data-bs-target="#carouselExampleCaptions1" data-bs-slide-to="0" class=""></button>
                                <button type="button" data-bs-target="#carouselExampleCaptions1" data-bs-slide-to="1" class="active" aria-current="true"></button>
                                <button type="button" data-bs-target="#carouselExampleCaptions1" data-bs-slide-to="2"></button>
                                <button type="button" data-bs-target="#carouselExampleCaptions1" data-bs-slide-to="3"></button>
                                <button type="button" data-bs-target="#carouselExampleCaptions1" data-bs-slide-to="4"></button>
                            </div>
                            <div class="carousel-inner">
                                <div class="carousel-item">
                                    <img src="~/images/4daan-weijers-pSaEMIiUO84-unsplash.jpg" class="d-block w-100" alt="...">
                                    <div class="carousel-caption d-none d-md-block">

                                    </div>
                                </div>
                                <div class="carousel-item active">
                                    <img src="~/images/4daan-weijers-pSaEMIiUO84-unsplash.jpg" class="d-block w-100" alt="...">
                                    <div class="carousel-caption d-none d-md-block">

                                    </div>
                                </div>
                                <div class="carousel-item">
                                    <img src="~/images/4daan-weijers-pSaEMIiUO84-unsplash.jpg" class="d-block w-100" alt="...">
                                    <div class="carousel-caption d-none d-md-block">

                                    </div>
                                </div>

                                <div class="carousel-item">
                                    <img src="~/images/4daan-weijers-pSaEMIiUO84-unsplash.jpg" class="d-block w-100" alt="...">
                                    <div class="carousel-caption d-none d-md-block">


                                    </div>
                                </div>

                                <div class="carousel-item">
                                    <img src="~/images/4daan-weijers-pSaEMIiUO84-unsplash.jpg" class="d-block w-100" alt="...">
                                    <div class="carousel-caption d-none d-md-block">

                                    </div>
                                </div>


                            </div>
                            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions1" data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions1" data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Next</span>
                            </button>
                        </div>
                        <!--輪播 end-->
                    </div>

                    <script src="scripts/bootstrap.bundle.js"></script>






                    <div class="col-md-6 lift col-xl-6 col-md-12">


                        <h2>南風苑雙人房 </h2>
                        <div class="separator3"></div>

                        <div>
                            <h6><strong>商品資訊</strong></h6>
                            <ul style="font-size:18px">
                                <li><span>嘆為觀止的絕美秘境景觀（總坪數約12坪）</span></li>
                                <li><span>有私人衛浴含(獨立衛浴設備、高級沐浴組)</span></li>
                                <li><span>每帳皆含頂級彈簧石墨烯床墊（標準兩大床）</span></li>
                                <li><span>頂級羽絨被、石墨烯枕</span></li>
                                <li><span>住客專用免費平面停車場</span></li>
                                <li><span>野餐墊一張、露營椅四張、帳篷鎖一組</span></li>
                                <li><span>依住房人數提供免費礦泉水</span></li>
                                <li><span>另備有奶瓶消毒鍋、嬰兒澡盆，如有需求請提前預約</span></li>
                                <li>
                                    <span style="font-size:12px">
                                        <span style="color:#008080">帳內不主動提供拋棄式盥洗用品（牙膏/刷、浴帽），若有需要可於報到時向服務人員索取</span>
                                    </span>
                                </li>
                            </ul>
                        </div>


                        <div>

                            <div class="roomprice">
                                <p><strong>平日價格NT$ 2,300</strong></p>
                                <p><strong>假日價格NT$ 2,800</strong></p>
                            </div>

                            <div class="col-md-3">
                                <div class="d-flex justify-content-start">
                                    <a class="btn btn-success me-2" href="@Url.Action("Roomtype", "Rooms", new { area = "" })?roomTypeId=1" style="margin-bottom: -8px;">預約去</a>
                                </div>
                            </div>
                        </div>


                        <div>


                            <label style="margin-top: 20px;">提供的設備:</label>
                            <label>
                                <i class="fas fa-check-double"></i> 床墊
                            </label>
                            <label>
                                <i class="fas fa-check-double"></i> 折合桌
                            </label>
                            <label>
                                <i class="fas fa-check-double"></i> 椅子
                            </label>



                        </div>



                    </div>
                </div>
            </div>
        </div>
    </div>





    <div>
        <div class="m-3">

            <div class="container-fluid" style="width: 88%; margin-right: -2%; margin-bottom: 20px; ">
                <div class="row">


                    <div class="col-md-6">
                        <!--輪播 begin-->
                        <!--輪播 begin-->
                        <div id="carouselExampleCaptions2" class="carousel slide" data-bs-ride="carousel">
                            <div class="carousel-indicators">
                                <button type="button" data-bs-target="#carouselExampleCaptions2" data-bs-slide-to="0" class=""></button>
                                <button type="button" data-bs-target="#carouselExampleCaptions2" data-bs-slide-to="1" class="active" aria-current="true"></button>
                                <button type="button" data-bs-target="#carouselExampleCaptions2" data-bs-slide-to="2"></button>
                                <button type="button" data-bs-target="#carouselExampleCaptions2" data-bs-slide-to="3"></button>
                                <button type="button" data-bs-target="#carouselExampleCaptions2" data-bs-slide-to="4"></button>
                            </div>
                            <div class="carousel-inner">
                                <div class="carousel-item">
                                    <img src="~/Images/3glen-jackson-mzZVGFfMOkA-unsplash.jpg" class="d-block w-100" alt="...">
                                    <div class="carousel-caption d-none d-md-block">
                                    </div>
                                </div>
                                <div class="carousel-item active">
                                    <img src="~/Images/3glen-jackson-mzZVGFfMOkA-unsplash.jpg" class="d-block w-100" alt="...">
                                    <div class="carousel-caption d-none d-md-block">

                                    </div>
                                </div>
                                <div class="carousel-item">
                                    <img src="~/Images/3glen-jackson-mzZVGFfMOkA-unsplash.jpg" class="d-block w-100" alt="...">
                                    <div class="carousel-caption d-none d-md-block">

                                    </div>
                                </div>

                                <div class="carousel-item">
                                    <img src="~/Images/3glen-jackson-mzZVGFfMOkA-unsplash.jpg" class="d-block w-100" alt="...">
                                    <div class="carousel-caption d-none d-md-block">

                                    </div>
                                </div>

                                <div class="carousel-item">
                                    <img src="~/Images/3glen-jackson-mzZVGFfMOkA-unsplash.jpg" class="d-block w-100" alt="...">
                                    <div class="carousel-caption d-none d-md-block">

                                    </div>
                                </div>


                            </div>
                            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions2" data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions2" data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Next</span>
                            </button>
                        </div>
                        <!--輪播 end-->
                    </div>






                    <div class="col-md-6 lift col-xl-6 col-md-12">


                        <h2>南風苑家庭房 </h2>
                        <div class="separator3"></div>

                        <div>
                            <h6><strong>商品資訊</strong></h6>
                            <ul style="font-size:18px">
                                <li><span>嘆為觀止的絕美秘境景觀（總坪數約12坪）</span></li>
                                <li><span>有私人衛浴含(獨立衛浴設備、高級沐浴組)</span></li>
                                <li><span>每帳皆含頂級彈簧石墨烯床墊（標準兩大床）</span></li>
                                <li><span>頂級羽絨被、石墨烯枕</span></li>
                                <li><span>住客專用免費平面停車場</span></li>
                                <li><span>野餐墊一張、露營椅四張、帳篷鎖一組</span></li>
                                <li><span>依住房人數提供免費礦泉水</span></li>
                                <li><span>另備有奶瓶消毒鍋、嬰兒澡盆，如有需求請提前預約</span></li>
                                <li>
                                    <span style="font-size:12px">
                                        <span style="color:#008080">帳內不主動提供拋棄式盥洗用品（牙膏/刷、浴帽），若有需要可於報到時向服務人員索取</span>
                                    </span>
                                </li>
                            </ul>
                        </div>


                        <div>

                            <div class="roomprice">
                                <p><strong>平日價格NT$ 2,300</strong></p>
                                <p><strong>假日價格NT$ 2,800</strong></p>
                            </div>

                            <div class="col-md-3">
                                <div class="d-flex justify-content-start">
                                    <a class="btn btn-success me-2" href="@Url.Action("Roomtype", "Rooms", new { area = "" })?roomTypeId=2" style="margin-bottom: -8px;">預約去</a>

                                </div>
                            </div>
                        </div>

                        <div>

                            <!-- 添加一个新段落或使用CSS来控制上下边距 -->
                            <label style="margin-top: 20px;">提供的設備:</label>
                            <label>
                                <i class="fas fa-check-double"></i> 床墊
                            </label>
                            <label>
                                <i class="fas fa-check-double"></i> 折合桌
                            </label>
                            <label>
                                <i class="fas fa-check-double"></i> 椅子
                            </label>



                        </div>


                        <div class="modal fade" id="exampleModal" tabindex="-1"
                             aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">

                                    <div class="modal-body">
                                        <blockquote>
                                            <div style="text-align: justify;">
                                                <span style="font-size:11px">
                                                    1. Check-In
                                                    15:00起&nbsp;;&nbsp;Check-Out
                                                    11:00；延遲退房收費$1,000／時。
                                                </span>
                                            </div>

                                            <div style="text-align: justify;">
                                                <span style="font-size:11px">
                                                    2.
                                                    專案行程：餐食及行程活動請依照公告之時程參與，逾時恕不接受退款或其他兌換方式。
                                                </span>
                                            </div>

                                            <div style="text-align: justify;">
                                                <span style="font-size:11px">
                                                    3.
                                                    餐食需求：請提前告知是否吃素或有其他飲食禁忌；為保障食材新鮮，請注意住宿人數切勿超過訂房設定之人數，人數如有增加時需於提前二日告知，以利拉波波村準備作業。
                                                </span>
                                            </div>

                                            <div style="text-align: justify;">
                                                <span style="font-size:11px">
                                                    4.
                                                    用餐期間如自備酒水需酌收開瓶費NT$300/每瓶，歡迎您選購拉波波村提供販售之酒水。
                                                </span>
                                            </div>

                                            <div style="text-align: justify;">
                                                <span style="font-size:11px">
                                                    5.
                                                    為維護環境品質及食品安全，拉波波村內恕不提供野炊生火；帳篷內禁止飲食，帳篷區全區皆禁止野炊烹煮；所有用餐空間禁帶外食或自帶食材。
                                                </span>
                                            </div>

                                            <div style="text-align: justify;">
                                                <span style="font-size:11px">
                                                    6.
                                                    營區管制：為保障營友權益，帳篷區不開放訪客進入；訪客請一律於餐廳會客：訪客需於晚間09:00
                                                    PM前離場，聚會時請降低音量，如不聽勸阻園方有權要求離開園區且無法退費，敬請配合。如訪客於餐期間入場(晚間06:00
                                                    PM前)則需一併加購晚餐，無加購者請勿進入餐廳。
                                                </span>
                                            </div>

                                            <div style="text-align: justify;">
                                                <span style="font-size:11px">
                                                    7.
                                                    行李寄放：可於進房前或退房後寄放行李，貴重物品請隨身攜帶，拉波波村不負保管責任。
                                                </span>
                                            </div>

                                            <div style="text-align: justify;">
                                                <span style="font-size:11px">
                                                    8.
                                                    入住時，接待人員皆會詳細介紹帳篷各項設施使用方式，敬請協助確認是否完整理解。
                                                </span>
                                            </div>

                                            <div style="text-align: justify;">
                                                <span style="font-size:11px">
                                                    9.
                                                    帳篷內全面禁菸、禁止飲食；歡迎您走出戶外，或在帳前的露營椅或草坪區用餐。
                                                </span>
                                            </div>

                                            <div style="text-align: justify;">
                                                <span style="font-size:11px">
                                                    10.
                                                    拉波波村全區範圍皆為自然環境，與各類昆蟲等原住民共生，提醒旅客務必注意蚊蟲蛇獸；進出帳篷請務必確認緊閉紗門或帳門。
                                                </span>
                                            </div>

                                            <div style="text-align: justify;">
                                                <span style="font-size:11px">
                                                    11.
                                                    帳內各項設施請愛惜使用；若欲購買，請參考設施設備價目表並向服務台人員購買。
                                                </span>
                                            </div>

                                            <div style="text-align: justify;">
                                                <span style="font-size:11px">
                                                    12.
                                                    為維護園區環境清潔，嚴禁攜帶寵物入園（導盲犬除外）。
                                                </span>
                                            </div>

                                            <div style="text-align: justify;">
                                                <span style="font-size:11px">
                                                    13.
                                                    因天然的地形因素影響，園區或有高低落差或各種路面環境、臨溪邊坡等，敬請旅客遊園時注意天色與自身安全。
                                                </span>
                                            </div>

                                            <div style="text-align: justify;">
                                                <span style="font-size:11px">
                                                    14.
                                                    園區佔地寬廣，攜帶孩童請家長務必全程陪同，以維安全。
                                                </span>
                                            </div>

                                            <div style="text-align: justify;">
                                                <span style="font-size:11px">
                                                    15.
                                                    本園區禁止攜帶任何違法物品，易燃物、易爆物等危險物品。
                                                </span>
                                            </div>

                                            <div style="text-align: justify;">
                                                <span style="font-size:11px">
                                                    16.
                                                    園區提供入園遊客免費停車，不負任何保管、賠償之責任。
                                                </span>
                                            </div>

                                            <div style="text-align: justify;">
                                                <span style="font-size:11px">
                                                    17.
                                                    登記入住時，需出示身分證件或護照並結清餘款，如有兒童也請出示證件以示年齡，感謝您的配合。
                                                </span>
                                            </div>

                                            <div style="text-align: justify;">
                                                <span style="font-size:11px">
                                                    18.
                                                    若有未盡事宜，園區保有增加或修改之權利；本公司保留取消訂房或是否接受預訂之權利。
                                                </span>
                                            </div>
                                        </blockquote>
                                    </div>

                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary"
                                                data-bs-dismiss="modal">
                                            關閉
                                        </button>
                                    </div>


                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>


@section css{
<style>
.carousel-caption h5 A {
color: white;
text-decoration: none;
font-weight: bold;
font-size: 1.5em;
}

.separator1 {
height: 2px;
width: 85%; /* 分隔线的宽度为页面宽度的85% */
background-color: rgba(33, 94, 173, 0.2);
margin: 20px auto; /* 水平居中 */
margin-top: 5%;
}

.separator2 {
height: 2px;
width: 85%; /* 分隔线的宽度为页面宽度的85% */
background-color: rgba(33, 94, 173, 0.2);
margin: 20px auto; /* 水平居中 */
margin-bottom: 8%;
}

.container-fluid img {
width: 100%;
max-height: 550px; /* 设置轮播图的最大高度 */
object-fit: cover;
}

.separator3 {
height: 5px;
width: 25%; /* 分隔线的宽度为页面宽度的85% */
background-color: rgb(95, 197, 11);
margin-bottom: 5%;
margin-top: -1%;
margin-left: 1%;
}

.carousel-inner .carousel-item img {
width: 100%;
height: 50%;
max-width: none;
border-radius: 20px; /* 添加圆角，值可以根据你的需要调整 */
}

.carousel-item img {
max-width: 100%;
height: 400px;
}

.roomprice p {
margin: 3px;
margin-bottom: 10px;
}
</style>
}
