

<div class="container">
    <div class="swiper mySwiper">
        <div class="swiper-wrapper">
         

                <div class="swiper-slide">
                    <img src="~/Images/main_4p_2.jpg" />
                </div>

           
        </div>
        <div class="swiper-pagination"></div>
    </div>
</div>
