.orderPage {
    margin: 0 auto;
    width: 100%;
    height: auto;
    /* 這邊刪除使用margin-top 這邊這樣弄是因為用position:absoulte下面完全沒辦法使用margin或padding
    相對位置絕對位置關係，使用position:absoulte那這塊永遠的大小就跟body一樣大*/
    padding: 2% 1%;
}

.orderarea {
    padding: 3% 0;
    background: #ffe2ce;
    box-shadow: 1px 1px 10px #b7b7b7;
    border-radius: 20px;
    z-index: -1;
}

.buyerInfo {
    margin-left: 20px;
    margin-top: 45px;
    display: flex;
}

label span {
    color: red;
}

label[for="name"] {
    padding-right: 32px; /* 使用2個字符的寬度作為內邊距 */
}

/*優惠券 & 結帳區*/
.calPrice {
    /* width: 70%; */
    border-bottom: 2px solid #884d25; /* 添加2像素粗的黑色底線，您可以根據需要調整顏色和粗細 */
    padding-bottom: 10px; /* 可選：添加一些底部內邊距以增加間距 */
    margin: 2% 0;
    text-align: right;
}

#applyCouponButton {
    margin-left: 10px;
    background-color: #f1bc99;
    color: black;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 14px;
    border-radius: 5px;
}

    #applyCouponButton:hover, #back:hover, #next:hover {
        background-color: #d49f7b;
    }

.total {
    margin-right: 20px;
}