
@{
    ViewBag.Title = "重設密碼確認";
}

@section css{
    <link rel="stylesheet" href="~/css/main_register.css">
}

<div class="container">
    <div class="memberarea">
        <div class="memberinner align-items-center">
            <div class="confirmarea">
                <div><img src="~/images/camping_bn.jpg" alt="" class="img-fluid"></div>
                <div class="alert alert-success">
                    恭喜您已成功更新密碼<br />
                    請點擊，<a href="@Url.Action("Login","Members")">此處</a><br />
                    使用新密碼進行登入
                </div>
            </div>
        </div>
    </div>
</div>