
@{
    ViewBag.Title = "忘記密碼確認";
}
@section css{
    <link rel="stylesheet" href="~/css/main_register.css">
}

<div class="container">
    <div class="memberarea">
        <div class="memberinner align-items-center">
            <div class="confirmarea">
                <div class="p-2"><img src="~/images/camping_bn.jpg" alt="" class="img-fluid"></div>
                <div>
                    <p>已收到您重設密碼申請</p>
                    <p>請記得到信箱收信確認並按下信裡的超連結進行重設密碼</p>
                </div>
            </div>
        </div>
    </div>
</div>