
@{
    ViewBag.Title = "會員註冊成功";


}
@section css {
    <link rel="stylesheet" href="~/css/main_register.css">
}


    <div class="container">
        <div class="memberarea">
            <div class="memberinner align-items-center">
                <div class="confirmarea">
                    <div class="p-2"><img src="~/images/camping_bn.jpg" alt="" class="img-fluid"></div>
                    <div>
                        <h4>恭喜你註冊成功~</h4>
                        <p>請記得到信箱收信確認</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

